

.shaded {
    background-color: rgb(253, 235, 211);
}

.titleBar {
    border-bottom: 3px solid black;
    padding-top: 1em;
    margin-bottom: 2em;
}

h1, h2, h3 {
    font-family: "Californian FB", "Times New Roman", serif;
    font-weight: bold;
}

.back {
    padding-top: 2em;
}