/*
Filename: Homepage.CSS
Author: Patreece Eichel (000530681)
Date: 2024-05-26
Purpose:
*/

@charset "UTF-8";

/* TOOLBAR STYLES */
#header {
    background-color: #e5b589;
    display: grid;
    place-items: center;
}

nav {
    border: 3px solid lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

li {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5em;
    font-size: large;
    font-family: "Californian FB", "Times New Roman", serif;
    font-weight: bold;
}

.custom-bg {
    background-color: rgb(253, 235, 211);
}

/* SALES PITCH & CAROUSEL */

.carousel img {
    height: auto;
    margin-top: 2em;
    padding-top: 10px;
    width: 100%;
}

.flex-vert {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    height: 35em;
}

.emphasis {
    color: cornflowerblue;
    font-family: "Californian FB", "Times New Roman", serif;
    font-weight: bold;
}

h2 {
    padding-bottom: 10px;
}

section {
    margin-top: 70px;
}


/* LOCATION / HOURS SECTION STYLES */

.shaded {
    background-color: rgb(253, 235, 211);
}

h2, h3 {
    padding-top: 10px;
}

td {
    padding: 10px 40px;
    font-size: 20px;
}

th {
    font-weight: normal;
    font-size: 20px;
}

.contact {
    font-size: 20px;
}

p, .contactHeading {
    font-size: 18px;
}

h2, h3 {
    font-family: "Californian FB", "Times New Roman", serif;
    font-weight: bold;
}

/* ABOUT SECTION STYLES */
#tisha {
    padding-top: 10px;
}

@media (max-width: 768px) {
    .row {
        margin-top: 20px;
    }
    .contact, .contactHeading, th, td, p {
        font-size: 16px;
    }
    .carousel img {
        height: auto;
        width: 100%;
    }
    .about img {
        margin-bottom: 20px;
    }
    .about p {
        text-align: justify;
    }
}
